body{
  background-color: #f4f4f4;
}

#presentation{
  margin-top:50px;
  padding-top:50px;
  padding-bottom:50px;  


}
#forms{
  background-color:#22a1dc;
  padding-top:51px;
  padding-bottom:50px;

}
 #cards{
  padding-top:50px;
  padding-bottom:50px;

 }
